@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.text-gradient {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#0093E9] to-[#4158D0];
}

.text-gradient2 {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[rgba(150,93,233,1)] to-[rgba(99,88,238,1)];
}


.cta-gradient {
    @apply text-center text-white;

    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
}

.dhq-badge {
    position: fixed !important;
    display: inline-block !important;
    visibility: visible !important;
    z-index: 2147483647 !important;
    top: auto !important;
    right: 12px !important;
    bottom: 12px !important;
    left: auto !important;
    color: #000 !important;
    font-weight: bold;
    background-color: #fff !important;
    border-radius: 3px !important;
    padding: 6px 8px 6px 6px !important;
    font-size: 12px !important;
    opacity: 1 !important;
    line-height: 14px !important;
    text-decoration: none !important;
    transform: none !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    white-space: nowrap;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.1);
    cursor: pointer;
}